* {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -o-user-select: none; /* Opera */
}

/* 원래있던거 */
canvas { 
  position: relative;
  display: block;
  border: none;
} 

.left-box {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute; 
    /* background: transparent; */
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    width: 150px; 
    height: 60px;
    top: 20px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
    transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}
.left-box.expanded {
    height: 300px;
}
.topName {
    font-family: Helvetica, sans-serif; 
    font-size: 15px;
    font-weight: bold;
    margin-left: 55px;
    margin-top: 20px;
}
.toggle {
    position: relative;
    height: 42.75px;
    width: 58.5px;
    cursor: pointer;
  }
.toggle:after, .toggle:before {
    content: "";
    background: black;
    width: 25px;
    height: 4.5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
  }
.toggle:before {
    top: -30%;
  }
.toggle:after {
    top: 30%;
  }
.toggle.close:before {
    transform: rotate(-225deg);
    top: 0;
  }
.toggle.close:after {
    transform: rotate(225deg);
    top: 0;
  }

.middleMenu {
    position: absolute;
    top: calc(100% - 52px);
    right: 120px;
    height: 30px;
    width: 30px;
    transition: 0.1s;
    font-family: Helvetica, sans-serif; 
    font-size: 18px; 
    font-weight: 200;
  }
  .middleMenu.close {
    bottom: 0;
}
span {
    position: relative;
    bottom: 150px;
    left: 20px;
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    transform: rotateY(0deg);
  }
  /* span:nth-of-type(4) {
    transition-delay: 0.4s;
  }
  span:nth-of-type(3) {
    transition-delay: 0.5s;
  }
  span:nth-of-type(2) {
    transition-delay: 0.6s;
  }
  span:nth-of-type(1) {
    transition-delay: 0.7s;
  } */
  span.hidden {
    width: 0;
    visibility: hidden;
    opacity: 0;
    transform: rotateY(90deg);
  }
  
  span.hidden:nth-of-type(5) {
    transition-delay: 0.4s;
  }
  span.hidden:nth-of-type(4) {
    transition-delay: 0.3s;
  }
  span.hidden:nth-of-type(3) {
    transition-delay: 0.2s;
  }
  span.hidden:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  span.hidden:nth-of-type(1) {
    transition-delay: 0s;
  }

.insta_logo {
    width: 10px;
}
.right-box {
    position: absolute;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    width: calc(100% - 210px);
    height: calc(100% - 50px);
    top: 20px;
    left: 190px;
    z-index: 1;
}
.changecolor {transition: color 0.2s ease;}
#Menu span a {
    text-decoration: none;
    color: inherit;
}
#instaLink {
    text-decoration: none;
    color: inherit;
}
iframe {
  border: none; width: 100%; height: 100%;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 30px;
  background-color: transparent;
  text-align: left;
  float: left;
  width: 150px;
}

@media screen and (max-width: 800px) {
    .left-box {
        position: fixed;
        /* background-color: transparent; */
        background-color: rgba(255, 255, 255, 0.85);
        width: calc(100% - 40px);
        height: 60px;
    }
    .left-box.expanded {
        height: 120px;
    }
    .topName {
        margin-left: 20px;
    }
    .middleMenu {
        position: absolute;
        right: 40px;
        height: 30px;
        width: 30px;
        transition: 0.1s;
        font-family: Helvetica, sans-serif; 
        font-size: 18px; 
        font-weight: 200;
      }
      .middleMenu.close {
        bottom: 0;
    }
    span {
        position: relative;
        bottom: 20px;
        white-space: nowrap;
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
        transform: rotateY(0deg);
      }
    .insta_logo {
        width: 15px;
    }
      span.hidden:nth-of-type(5) {
        transition-delay: 0s;
      }
      span.hidden:nth-of-type(4) {
        transition-delay: 0s;
      }
      span.hidden:nth-of-type(3) {
        transition-delay: 0s;
      }
      span.hidden:nth-of-type(2) {
        transition-delay: 0s;
      }
      span.hidden:nth-of-type(1) {
        transition-delay: 0s;
      }
    footer {
        position: fixed;
        Margin-top: 5px;
        width: 100%;
        height: 30px;
    } 
    #Menu {
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding-right: 20px;
    }
    
    #Menu span {
        margin: 0;
        padding-right: 5px;
        padding-left: 0;
    }
    
    .right-box {
        position: fixed;
        margin-top: 140px;
        left: 20px;
        Width: calc(100% - 40px);
        height: calc(100% - 190px);
    }
    #instaLink {
        position: flexible;
        float: right;
        padding-right: 25px;
    }};